.email__optin_wrapper {
    padding: 0 20px;
    margin: 0 auto;
}

.email__optin_wrapper form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.email__optin_wrapper label {
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.email__optin_wrapper input[type="email"] {
    background-color: var(--neutral-dark);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 15px 15px;
    width: 80%;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    margin-right: 10px;
}

.email__optin_wrapper input[type="email"]::placeholder {
    color: white;
    opacity: 0.7;
}

.email__optin_wrapper input[type="email"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.email__optin_wrapper .checkbox__wrapper {
    font-size: 0.9rem;
}

.notificationValue {
    margin-top: 15px;
    padding: 10px;
    color: white;
    border-radius: 5px;
    text-align: center;
}
.notificationSuccess {
    background-color: var(--primary-color);  /* Green or blue color for success */
}

/* Error notification style */
.notificationError {
    background-color: var(--highlight-dark);  /* Red or orange color for error */
}