.profile__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    column-gap: 50px;
    padding: 20px;
}


.profile__wrapper section {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: var(--neutral-light);
    border-radius: 8px;
}

.myrecipes__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
}

.myrecipes__list .recipeCard {
    flex: 1 1 200px;
    max-width: 300px;
}

@media screen and (max-width: 1024px) {

    .profile__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .profile__wrapper section {
        width: 96%;
        margin: 10px auto;
    }
}