.recipe__card_wrapper {
    position: relative;
    padding: 5px;
    width: 100%;
    max-width: 580px;
    margin: 15px;
    text-align: left;
    color: var(--secondary-color);
}

.recipe__card_image {
    width: 100%;
    border-radius: 15px;
    aspect-ratio: 16/9;
    background-color: var(--primary-light);
}

.recipe__card_title {
    font-size: 1.2em;
    margin-top: 5px;
    line-height: 1;
}

.icon__clock {
    color: var(--primary-dark);
    font-size: 20px;
    line-height: 0;
    margin-bottom: -5px;
    margin-right: 5px;
}

.recipe__card_witf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
    align-items: flex-start;
    margin-top: 10px;
    font-size: 1rem;
}

.favorite__button {
    position: absolute;
    top: 5%;
    right: 5%;
    padding: 10px;
    background-color: white;
    font-size: 1rem;
    line-height: 0;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
}

.recipe__card_message {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fffae6;
    color: #333;
    padding: 10px 15px;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
    animation: fadein 0.3s ease-in-out;
}

@keyframes fadein {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 768px) {
    .recipe__card_wrapper {
        margin: 15px 10px;
    }
}