.talkto_us_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px;
    border-radius: 30px;
    width: 100%;
    color: var(--secondary-color);
    background-color: var(--primary-light);
}
.talkto_us_h3 {
    font-size: 1.5rem;
    align-self: center;
}

.talkto_us_h4 {
    font-size: 1.2rem;
    color: var(--primary-color);

}

.talkto_us_email, .talkto_us_phone {
    flex-direction: column;
}

.talkto_us_icon {
    border-radius: 50%;
    background: var(--primary-light);
    color: var(--secondary-light);
}
.talkto_us_span {
    font-size: 1.2rem;
}