.privacy_statement__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    column-gap: 50px;
    padding: 0 20px;
}