.single_recipe__header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    background-size: cover;
    background-position: center;
}
.single_recipe__h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 2;
}

.single_recipe__gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, #7BB48B);
    z-index: 1;
}

.single_recipe__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: -100px auto 0 auto;
    column-gap: 50px;
    z-index: 5;
}

.single_recipe__prep, .single_recipe__comments {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2%;
}

.single_recipe__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2% 5%;
    width: 100%;
    background-color: var(--neutral-light);

    border-radius: 25px;
    margin-bottom: 1%;
}

.single_recipe__similar {
    width: 100%;
    background-color: var(--primary-light);
    padding: 2% 10%;
}

.single_recipe__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .single_recipe__wrapper {
        flex-direction: column;
        align-items: center;
    }
    .single_recipe__prep, .single_recipe__list, .single_recipe__nutrition, .single_recipe__socials {
        display: flex;
        flex-direction: column;
        padding: 5%;
        margin: 0 2%;
    }

    .single_recipe__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .single_recipe__similar {
        width: 100%;
        background-color: var(--primary-light);
        padding: 0 20px 0 0;
    }
}

