.recipe__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.recipe_list {
    display: flex;
    flex-direction: row;
    margin: 0 10px;
    gap: 15px;
    flex-wrap: wrap;
}

.recipe__list_notfound {
    text-align: center;
    margin: 20px 0;
    font-size: 1.2rem;
    color: var(--secondary-color);
}


.recipe__list_notfound {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.errorMessage {
    color: red;
    background-color: var(--neutral-light);
    padding: 10px;
    width: auto;
    border-radius: 10px;
}
@media (min-width: 768px) {
    .recipe_list > * {
        flex: 1 1 calc(29% - 15px);
    }
    .recipe__wrapper {
        margin: 0;
    }
}
